.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 15px;
}

.header__left > h1 {
  color: white;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > .MuiSvgIcon-root {
  margin-left: 30px;
  color: white;
}

.header__rightAvatar {
  margin-right: 5px;
  margin-left: 20px;
}

.header__right > h4 {
  color: white;
}

.header__rightNotificationIcon {
  color: white;
}
