.sidebar {
  color: white;
  flex: 0.3;
  background-color: var(--main-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
}

.sidebar__addClient {
  color: white !important;
  background-color: orange !important;
  margin-top: 10px !important;
  width: 90%;
}
