.signIn {
  height: 100vh;
  background-color: #f8f8f8;
  display: grid;
  place-items: center;
}

.signIn__container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.signIn__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.signIn__container > form {
  display: flex;
  flex-direction: column;
}

.signIn__container > form > input {
  padding: 8px 0;
  margin: 8px 0;
}

.signIn__formButton {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: orange !important;
  color: white !important;
}
